<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/vue-resource.min.js"></script>
    <script src="../static/js/vue-router.js"></script>

    <style>
        .router-link-active {
            color: red;
            font-weight: 400;
        }
    </style>

</head>
<body>
<div id="app">

    <!--    <a href="#/login">登录</a>-->
    <!--    <a href="#/register">注册</a>-->

    <router-link to="/login">登录</router-link>
    <router-link to="/register">注册</router-link>

    <transition>
        <router-view></router-view>
    </transition>


</div>
<script>

    const login = {template: "<h1>登录组件</h1>"}
    const register = {template: "<h1>注册组件</h1>"}

    const vueRouter = new VueRouter({
        routes: [
            {path: "/", redirect: '/login'},
            {path: "/login", component: login},
            {path: "/register", component: register},
        ],
        linkActiveClass: "myActive"
    });

    const vm = new Vue({
        el: '#app',
        data: {},
        methods: {},
        router: vueRouter

    });
</script>
</body>
</html>